*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
#hero{
    height: 700px;
    width: 100%;
    background-image: url(./1667114086441.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 8%;
}
.logo{
    color: white;
    font-size: 3rem;
    letter-spacing: 2px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1vh 1vw;
}
nav ul li a{
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .3s;    
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    margin: 20px 0px;
    font-size: 4rem;
}
h3{
    font-size: 2rem;
    margin-bottom: 50px;
}
#about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
#about img{
    height: auto;
    width: 30%;
    border-radius: 20px;
}
.about-text{
    width: 40%;
}
.main{
    width: 80%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 3px;
    font-size: 1rem;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: .95rem;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;   
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 50px;
    transition: .3s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
}